@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header, footer{
    padding: 20px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
